name: Codejail AppArmor CI

on:
  pull_request:

jobs:
  codejail_ci:
    name: AppArmor GitHub CI
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Parse custom apparmor profile
        run: sudo apparmor_parser -r -W apparmor-profiles/home.sandbox.codejail_sandbox-python3.8.bin.python

      - name: Run container with custom apparmor profile
        run: |
          docker run --name=codejail --privileged -d --security-opt apparmor=apparmor_profile 838788427423.dkr.ecr.us-east-1.amazonaws.com/codejail:latest tail -f /dev/null
      - name: Run Non Proxy Tests
        run: |
          docker exec -t codejail bash -c 'source /venv/bin/activate && make clean && make test_no_proxy'
      - name: Run Proxy Tests
        run: |
          docker exec -t codejail bash -c 'source /venv/bin/activate && make clean && make test_proxy'

      - name: Run Quality Tests
        run: docker exec -t codejail bash -c 'source /venv/bin/activate && make quality'
